* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  font-family: 'Playfair Display SC', serif;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

form.form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* label {
  display: block;
} */

input {
  display: flex;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

button {
  font-family: inherit;
}
